body{
    display: flex;
    justify-content: center;
}
#outer{
    width:595px;
    height:842px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}
#middle{
    width: 445px; 
    height: 692px;
    margin-top:75px ;
    border-bottom:1px solid #e134eb ;
    border-top: 1px solid #e134eb;
    border-left:1px solid #8b3ede;
    border-right:1px solid #8b3ede;

}
#inner>h4{
    text-align: center;
    margin-top: 0px;
}
#star{
    display: flex; 
    justify-content: center;
}
#inner>h2{
    text-align: center;
    
}
#text>p::first-letter{
    font-size: 70px;
    float: left;
    line-height: 54px;
}
